<div class="device-item" hx-swap-oob="true" id="{{.ID}}">
    <div class="device-info">
        <span class="device-name">{{.Name}}</span>
        <span class="device-mac">{{.Address}}</span>
        {{if not .Connected}}<span class="device-rssi">{{.RSSI}} dBm</span>{{end}}
    </div>
    {{if .Connected}}
    <button class="btn-disconnect" hx-post="/devices/{{.Address}}/disconnect" id="disconnect-{{.ID}}" hx-preserve>
        <span class="spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
        Disconnect
    </button>
    {{else}}
    <div id="actions-{{.ID}}" hx-preserve class="device-actions">
        <button class="btn-connect" hx-post="/devices/{{.Address}}/connect">
            <span class="spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            Connect
        </button>
        <button class="btn-forget" hx-post="/devices/{{.Address}}/forget">
            <span class="spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            Forget
        </button>
    </div>
    {{end}}
</div>